extends layout
  
block content
    script(src='/js/charts.js')
    .container.text-center.py-3
      .row.justify-content-center
        .col-lg-10
          .row
            .col-lg-3.align-self-center
              img.img-fluid(src='https://twitter.com/'+ politician.twitterName + '/profile_image?size=original', alt='Responsive image' , width="110", height="110")
            .col-lg-9
              h1.py-2 #{politician.name}
              

              ul#myTab.nav.nav-tabs(role='tablist').align-items-end
                li.nav-item
                  a#home-tab.nav-link.active(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-selected='true') Overview
                li.nav-item
                  a#profile-tab.nav-link(data-toggle='tab', href='#profile', role='tab', aria-controls='profile', aria-selected='false') Promises
                li.nav-item
                  a#contact-tab.nav-link(data-toggle='tab', href='#contact', role='tab', aria-controls='contact', aria-selected='false') Views
          #myTabContent.tab-content.profile-tab.py-3
            #home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
              .row
                .col-lg-3.text-left

                  .list-group
                    a.list-group-item.list-group-item
                      h5.mb-1.font-weight-bold Title
                      p.mb-1 #{politician.title}
                    a.list-group-item.list-group-item
                      h5.mb-1.font-weight-bold Politicial Party
                      p.mb-1  #{politician.politicalParty}
                    a.list-group-item.list-group-item
                      h5.mb-1.font-weight-bold Electorate
                      p.mb-1   #{politician.electorate}
                  .py-3.text-center
                    button.btn.btn-primary(type='button') Edit Profile
                .col-lg-5
                  canvas#myChart
                  | From x ratings
                .col-lg-4
                  form(action="/characteristics/" + polly_id, method="POST")
                    input(type='hidden', name='_csrf', value=_csrf)
                    .form-group.text-left
                      label(for='trustworthy') Trustworthy      
                      output.badge.badge-pill.badge-primary#trustworthyOutput.float-right(name='trustworthyOutput') off
                      input.custom-range(type='range', name='trustworthy', id='trustworthy', value=usersRating.trustworthy ,min='-1', max='10', step='1', onInput='trustworthyOutput.value = rangeToValue(trustworthy.value)')
                      label(for='accountable') Accountable
                      output.badge.badge-pill.badge-primary#accountableOutput.float-right(name='accountableOutput') off
                      input.custom-range(type='range', name='accountable', id='accountable', value=usersRating.accountable  ,min='-1', max='10', step='1'  oninput='accountableOutput.value = rangeToValue(accountable.value)')
                      label(for='empathetic') Empathetic
                      output.badge.badge-pill.badge-primary#empatheticOutput.float-right(name='empatheticOutput') off
                      input.custom-range(type='range', name='empathetic', id='empathetic', value=usersRating.empathetic ,min='-1', max='10', step='1'  oninput='empatheticOutput.value = rangeToValue(empathetic.value)')
                      label(for='knowledgeable') Knowledgeable
                      output.badge.badge-pill.badge-primary#knowledgeableOutput.float-right(name='knowledgeableOutput') off
                      input.custom-range(type='range', name='knowledgeable', id='knowledgeable', value=usersRating.knowledgeable ,min='-1', max='10', step='1'  oninput='knowledgeableOutput.value = rangeToValue(knowledgeable.value)')
                      label(for='respectful') Respectful
                      output.badge.badge-pill.badge-primary#respectfulOutput.float-right(name='respectfulOutput') off
                      input.custom-range(type='range', name='respectful', id='respectful', value=usersRating.respectful ,min='-1', max='10', step='1'  oninput='respectfulOutput.value = rangeToValue(respectful.value)')
                      if !user
                        button.btn.btn-primary(type='submit',disabled='') Login to vote
                      else
                        button.btn.btn-primary(type='submit') Submit
            #profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
              // Promises
              #accordion.accordion
                .card
                  .card-header
                    .row
                      .col
                        |  One of three columns  One of three columns  One of three columns
                      .col-lg-auto
                        .btn-group(role='group', aria-label='Basic example')
                          button.btn.btn-primary(type='button') Edit
                          button.btn.btn-success(type='button') +
                          button.btn.btn-danger(type='button') −
                  #collapse1.collapse.show(aria-labelledby='heading2', data-parent='#accordion')
                    .card-body
                      .row
                        .col-lg-8
                          p
                            | Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam semper
                            | tincidunt
                            | justo,
                            | ac tempor mi consectetur vitae. Curabitur tempus enim non felis elementum, a imperdiet massa
                            | euismod.
                            | In hac habitasse platea dictumst. Fusce ultrices mi tristique leo vehicula, eget vestibulum
                            | arcu
                            | vestibulum.
                          p Source: www.wikipedia.com
                        .col-lg-4.text-center
                          //- img.img-fluid(src='canvas.png')
                        .col-lg-12.text-center
                          p Have your say, was this promise:
                          .btn-group.btn-group-justified.text-centered
                            .btn-group
                              button.btn.btn-success(type='button') Achieved
                            .btn-group
                              button.btn.btn-warning(type='button') Partially Achieved
                            .btn-group
                              button.btn.btn-danger(type='button') Broken
                .card
                  .card-header
                    h5.mb-0
                      button.btn.btn-link(data-toggle='collapse', data-target='#collapse2', aria-expanded='true', aria-controls='collapse2')
                        | Promise #2
                      button.btn.btn-primary.float-right(type='button') Edit
                  #collapse2.collapse(aria-labelledby='heading2', data-parent='#accordion')
                    .card-body
                      .row
                        .col-lg-8
                          p
                            | Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam semper
                            | tincidunt
                            | justo,
                            | ac tempor mi consectetur vitae. Curabitur tempus enim non felis elementum, a imperdiet massa
                            | euismod.
                            | In hac habitasse platea dictumst. Fusce ultrices mi tristique leo vehicula, eget vestibulum
                            | arcu
                            | vestibulum.
                          p Source: www.wikipedia.com
                        .col-lg-4.text-center
                          //- img.img-fluid(src='canvas.png')
                        .col-lg-12.text-center
                          p Have your say, was this promise:
                          .btn-group.btn-group-justified.text-centered
                            .btn-group
                              button.btn.btn-success(type='button') Achieved
                            .btn-group
                              button.btn.btn-warning(type='button') Partially Achieved
                            .btn-group
                              button.btn.btn-danger(type='button') Broken
              .py-3.text-right
                button.btn.btn-primary(type='submit') Add Promise
            #contact.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab')
              #accordion2.accordion
                .card
                  .card-header
                    h5.mb-0
                      button.btn.btn-link(data-toggle='collapse', data-target='#view1', aria-expanded='true', aria-controls='view1')
                        | View #1
                      button.btn.btn-primary.float-right(type='button') Edit
                  #view1.collapse.show(aria-labelledby='view1', data-parent='#accordion2')
                    .card-body
                      .row
                        .col-lg-12
                          p
                            | Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam semper
                            | tincidunt
                            | justo,
                            | ac tempor mi consectetur vitae. Curabitur tempus enim non felis elementum, a imperdiet massa
                            | euismod.
                            | In hac habitasse platea dictumst. Fusce ultrices mi tristique leo vehicula, eget vestibulum
                            | arcu
                            | vestibulum.
                          p Source: www.wikipedia.com
                .card
                  .card-header
                    h5.mb-0
                      button.btn.btn-link(data-toggle='collapse', data-target='#view2', aria-expanded='true', aria-controls='view2')
                        | View #2
                      button.btn.btn-primary.float-right(type='button') Edit
                  #view2.collapse(aria-labelledby='view2', data-parent='#accordion2')
                    .card-body
                      .row
                        .col-lg-12
                          p
                            | Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam semper
                            | tincidunt
                            | justo,
                            | ac tempor mi consectetur vitae. Curabitur tempus enim non felis elementum, a imperdiet massa
                            | euismod.
                            | In hac habitasse platea dictumst. Fusce ultrices mi tristique leo vehicula, eget vestibulum
                            | arcu
                            | vestibulum.
                          p Source: www.wikipedia.com
    script.
      radarChartConstructor(!{JSON.stringify(politician)});
      document.getElementById("trustworthyOutput").value = rangeToValue(#{usersRating.trustworthy});
      document.getElementById("accountableOutput").value = rangeToValue(#{usersRating.accountable});
      document.getElementById("empatheticOutput").value = rangeToValue(#{usersRating.empathetic});
      document.getElementById("knowledgeableOutput").value = rangeToValue(#{usersRating.knowledgeable});
      document.getElementById("respectfulOutput").value = rangeToValue(#{usersRating.respectful}); 
