extends layout  

block content
  .py-3
    h1=title
      section
          .container-auto.py-3
            .card.bg-light.py-3
              .row
                each val,index in politicians
                      .col-md-2.align-self-center.text-center.py-4
                          if pictures[index]
                            img.img-fluid(src=pictures[index],alt='profile image',width=115,height=115)
                          else
                            img.img-fluid(src="/blank-profile-picture.png",alt='profile image',width=115,height=115)
                      .col-md-2.px-3.align-self-center.text-center.py-4
                        .card-block.px-3
                          h6.card-title #{politicians[index].name}
                          h6.card-text  #{politicians[index].title}
                          h6.card-text  #{politicians[index].politicalParty}
                          h6.card-text #{politicians[index].electorate}
                          
                      .col-md-2.px-3.align-self-center.text-center.py-4
                        .card-block.px-3
                          a.btn.btn-primary(href='/politician/'+ politicians[index]._id) View
      .jumbotron.jumbotron-fluid
        .container
          p.lead Can't find the Politician you are looking for :
          a.btn.btn-primary.float-left(href='/addPolitician', role='button') Add A Polly